core/app/

schema/*
!schema/.gitkeep
!schema/Example - All field types.sql
!schema/Example - No primary key.sql
!schema/Tests - Admin.sql
!schema/Tests - Public.sql

tests/behat/logs/*
!tests/behat/logs/.gitkeep

/vendor/
**/.env
